%nav.navbar.navbar-expand-md.navbar-light.bg-light
  %a.navbar-brand{:href => "/"} TuitionApp
  %button.navbar-toggler{"data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{:href => "/ "}
          Home
    %ul.navbar-nav
      - if user_signed_in?
        - if current_user.super_admin?
          %li.nav-item
            = link_to 'Unapprove Courses', unapproved_courses_path, class: 'nav-link'
          %li.nav-item.dropdown
            %a#bd-versions.nav-item.nav-link.dropdown-toggle.mr-md-2{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#"}
              Manage Users
            .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "bd-versions"}
              = link_to 'Students', students_path, class: 'dropdown-item'
              = link_to "Teachers", teachers_path, class: 'dropdown-item'
        -if current_user.teacher?
          %li.nav-item
            = link_to 'Received course Join requests', received_course_requests_teacher_path(current_user), class: 'nav-link'      
        %li.nav-item
          = link_to 'Courses', courses_path, class: 'nav-link'
        %li.nav-item.dropdown
          %a#bd-versions.nav-item.nav-link.dropdown-toggle.mr-md-2{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#"}
            = current_user.email
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "bd-versions"}
            = link_to 'Edit profile', edit_user_registration_path, class: 'dropdown-item'
            = link_to "Logout", destroy_user_session_path, method: :delete, class: 'dropdown-item'
      - else
        %li.nav-item
          = link_to "Sign up", new_user_registration_path, class: 'nav-link'
        %li.nav-item  
          = link_to "Login", new_user_session_path, class: 'nav-link'

