- @courses.each do |course|
  %tr
    %td= course.information
    %td= course.title
    %td= course.content
    %td= course.start_datetime
    %td= course.end_datetime
    %td= course.students_length
    %td= link_to 'Show', course
    - if can? :update, course
      %td= link_to 'Edit', edit_course_path(course)
    - if can? :destroy, course  
      %td= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }
    - if current_user.student?
      %td= course_join_link(course)